.app__bgimg{
    background-color: black;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
} 

.hero{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
}

.background-img {
    filter: brightness(60%);
    width: 100vw;
    height: 100vh;
}

.container{
    position: absolute;
    bottom: 25rem;
}
.title img{
    width: 440px;
    padding-left: 4rem;

}

.PM__button {
    padding-left: 10rem;
    border-radius: 5px;
    font-size: 1.4rem;
    
}

FaPlay {
    background-color: green;
}