.container {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15vh 85vh;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .text h1 {
    padding: 0 ;
    color: white;
  }
  
  .form {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    width: 60%;
    gap: 1rem;
  }
  
  .container.show-password .form {
    grid-template-columns: 1fr 1fr; 
  }
  
  .form input {
    color: black;
    border: none;
    padding: 1.5rem;
    font-size: 1.2rem;
    border: 1px solid black;
  }
  
  .form input:focus {
    outline: none;
  }
  
  .form button {
    padding: 0.5rem 1rem;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 1.05rem;
  }
  
  .body button {
    padding: 0.5rem 1rem;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
    font-weight: bolder;
    font-size: 1.05rem;
  }
  
  .text h1,h4,h6 {
    color: white;
    margin: 0;
  }
